ion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1em;
  margin-top: 1em;
}

ion-avatar {
  width: 10em;
  height: 10em;
}

ion-card-content {
  width: 100%;
}

ion-label {
  text-align: center;
}
